footer {
  width: 100%;
  display: block;
}

.base-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.footer-links {
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  color: #00006b;
}

.footer-links:hover {
  color: #c4e8f7;
}

.social-icons img {
  display: none;
}

@media only screen and (min-width: 768px) {
  .social-icons {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 0.5rem;
  }

  img {
    display: initial;
    width: 1.3rem;
    height: auto;
  }
}

.base-footer p {
  margin: 0.1rem;
}

.icon:hover {
  border-bottom: 3px dotted #c4e8f7;
}

.footer-wave {
  position: absolute;
  bottom: 0;
  z-index: -9;
}

.right-footer-link {
  padding-right: 14rem;
}

.left-footer-link {
  padding-left: 12rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .footer-wave {
    display: none;
  }

  footer {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .footer-wave {
    display: none;
  }

  footer {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .footer-wave {
    display: none;
  }

  footer {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .footer-wave {
    display: inline;
    position: absolute;
    bottom: 0;
    z-index: -9;
  }

  footer {
    display: initial;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .footer-wave {
    display: inline;
    position: absolute;
    bottom: 0;
    z-index: -9;
  }

  footer {
    display: initial;
  }
}
