header {
  display: block;
  overflow: auto;
  position: absolute;
  z-index: 100;
}

.link-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 2rem;
  z-index: 1;
}

.link {
  font-weight: bold;
  text-decoration: none;
  color: #00006b;
  margin: 0rem 0.75rem;
  font-size: 1.4rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  header {
    position: initial;
  }

  .header-wave {
    display: none;
  }

  .link {
    font-size: 0.8rem;
  }
  .link-bar {
    display: block;
    z-index: 1000;
  }
  .link-bar {
    display: flex;
    justify-content: space-evenly;
    z-index: 1000;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  header {
    position: initial;
  }

  .header-wave {
    display: none;
  }
  .link-bar {
    display: flex;
    justify-content: space-evenly;
    z-index: 1000;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header-wave {
    display: none;
  }
  .link-bar {
    display: flex;
    justify-content: space-evenly;
    z-index: 1000;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header {
    display: block;
    overflow: auto;
    position: absolute;
    z-index: 100;
  }

  .header-wave {
    display: block;
  }

  .small-link {
    display: none;
  }

  .link:hover {
    color: #c4e8f7;
  }

  .link-left {
    float: left;
    padding-left: 12rem;
  }

  .link-right {
    float: right;
    padding-right: 12rem;
  }

  .link-bar {
    z-index: 1;
    display: block;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  header {
    display: block;
    overflow: auto;
    position: absolute;
    z-index: 100;
  }

  .header-wave {
    display: block;
  }

  .small-link {
    display: none;
  }

  .link:hover {
    color: #c4e8f7;
  }

  .link-left {
    float: left;
    padding-left: 12rem;
  }

  .link-right {
    float: right;
    padding-right: 12rem;
  }
}
