.services-section img {
  display: none;
}
@media only screen and (min-width: 768px) {
  .services-section img {
    display: inline;
  }

  .services-section {
    text-align: center;
    width: 20rem;
  }

  .services-group {
    display: flex;
    justify-content: space-evenly;
  }

  .service-icon {
    display: block;
    overflow: auto;
    margin: auto;
    padding: 1rem 0;
  }

  .service-icon img {
    width: 13rem;
    height: auto;
  }
}
