.main-subheader {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: larger;
  font-family: Glacier;
  padding: 0.5rem 0;
}

.option-section {
  padding: 0.5rem 0rem;
}
@media only screen and (min-width: 768px) {
  .service-options {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
.about-image {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.about-content {
  margin-top: 2.5rem;
  float: right;
  background-color: #bad190;
  padding-left: 2rem;
  border-radius: 3%;
  box-shadow: -15px 30px #679186;
}

.about-main {
  color: white;
  font-size: 3rem;
  margin: 1rem 0;
  font-family: Glacial;
  letter-spacing: 0.15rem;
}

.about-text {
  margin-bottom: 0.5rem;
  letter-spacing: 0.25rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .ks-video {
    display: none;
    visibility: hidden;
  }

  .lg-page-text {
    font-size: 1rem;
  }

  .about-content {
    width: 75%;
  }

  .about > .left-content {
    display: none;
  }

  .about > .right-content {
    margin-left: 0%;
  }

  .about-text {
    margin-bottom: 0.5rem;
    letter-spacing: 0.05rem;
  }

  .about-main {
    font-size: 2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .ks-video {
    display: none;
    visibility: hidden;
  }

  .about-content {
    width: 75%;
  }

  .about > .left-content {
    display: none;
  }

  .about > .right-content {
    margin-left: 0%;
  }

  .about-text {
    letter-spacing: 0.1rem;
    line-height: 2rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .ks-video {
    display: none;
    visibility: hidden;
  }

  .about-content {
    width: 75%;
  }

  .about > .left-content {
    display: none;
  }

  .about > .right-content {
    margin-left: 0%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .ks-video {
    display: block;
    visibility: visible;
    margin-top: 7rem;
    margin-left: 1.5rem;
  }

  .about-content {
    width: 100%;
  }

  .about > .right-content {
    margin-left: 50%;
  }

  .about > .left-content {
    display: inline-block;
  }

  .about-text {
    letter-spacing: 0.1rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .ks-video {
    display: block;
    visibility: visible;
    margin-top: 7rem;
    margin-left: 1.5rem;
  }

  .about > .left-content {
    display: inline-block;
  }

  .about > .right-content {
    margin-left: 50%;
  }
}
