.contact-entry {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 9999999;
}

.contact-entry-img-box {
  margin: auto auto 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content {
  width: 100%;
}

.contact-head {
  font-size: 0.8rem;
}

.contact-content {
  overflow: hidden;
}

.contact-content > .left-content {
  padding-top: 4.5rem;
  background: white;
  height: 100%;
  width: 45%;
}

.contact-content > .right-content {
  margin-left: 53%;
  position: absolute;
  top: 0;
  width: 45%;
}

.right-content > a {
  z-index: 9999999;
}

.contact-image {
  width: 67%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.contact-social-image {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.partner-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.contact-entry-img {
  width: 3rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 9999999;
}

.contact-logo {
  width: 50%;
  margin-left: auto;
  float: right;
}

.social-accounts {
  background-color: white;
  border-radius: 30px 30px 30px 30px;
  width: 90%;
}

.accounts {
  margin-left: auto;
  margin-right: auto;
  font-family: Glacial;
  text-align: center;
}

.contact-text {
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  margin-bottom: 1rem;
  color: #797979;
}

.socials-text {
  font-size: 1.7rem;
  padding-top: 1rem;
  margin-bottom: 0rem;
}

.email-accounts {
  background-color: white;
  border-radius: 2%;
  padding: 0.5rem 2rem 4rem 2rem;
  margin-top: 3rem;
  width: 75%;
}

/* @media only screen and (min-width: 768px) {
  .contact-entry {
    width: 60%;
  }

  .contact-head {
    font-size: 2rem;
  }

  .contact-info {
    font-size: 1.5rem;
  }
} */

.contact-info a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
}

.contact-info a:hover {
  color: #b7cb70;
}
.contact-us {
  font-family: Glacial;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.5rem;
  margin-left: 3rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 601px) {
  .mid-wave {
    display: none;
  }
  .contact-us {
    font-family: Glacial;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    margin-left: 1.5rem;
    text-align: center;
  }

  .socials-text {
    display: none;
  }

  .right-content > .contact-info {
    display: none;
  }
  .contact-entry {
    display: flex;
    justify-content: space-evenly;
  }

  .contact-content > .left-content {
    width: 70%;
  }
  .contact-content {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 602px) {
  .left-content > .contact-info {
    display: none;
  }

  .mid-wave {
    display: none;
  }

  .contact-us {
    text-align: center;
  }

  .contact-emailaddr {
    display: none;
  }

  .contact-content > .right-content {
    margin-left: 50%;
  }

  .contact-content {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .left-content > .left-text {
  }

  .left-content > .contact-image {
    display: none;
  }

  .contact-content > .left-content {
    background-color: transparent;
  }

  .email-accounts {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .left-content > .contact-info {
    display: none;
  }
  .partner-text {
    width: 100%;
  }

  .left-content > .contact-image {
    display: block;
  }

  .contact-content {
    overflow: hidden;
  }

  .contact-content > .left-content {
    background-color: white;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .left-content > .contact-info {
    display: none;
  }

  .mid-wave {
    display: inline-block;
  }

  .contact-emailaddr {
    display: block;
  }

  .contact-info > .contact-entry-img-box {
    display: none;
  }

  .partner-text {
    width: 60%;
  }
  .email-accounts {
    width: 100%;
  }

  .contact-content > .right-content {
    margin-left: 53%;
  }

  .contact-content > .left-content {
    background-color: white;
    padding-bottom: 100rem;
  }
}

@media only screen and (min-width: 1025px) {
  .left-content > .contact-info {
    display: none;
  }

  .mid-wave {
    display: inline-block;
  }

  .contact-emailaddr {
    display: block;
  }

  .contact-info > .contact-entry-img-box {
    display: none;
  }

  .partner-text {
    width: 60%;
  }
  .email-accounts {
    width: 75%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .left-content > .email-accounts {
    display: none;
  }

  .mid-wave {
    display: inline-block;
  }
}
