.events-info {
  font-family: Glacial;
  width: 80%;
  margin-left: 5%;
}

.kamcamp-title {
  font-family: Glacial;
  font-size: 2.25rem;
  color: #c3e9f1;
}

.kamcamp-info {
  font-family: Glacial;
  font-size: 1.3rem;
  letter-spacing: 0.07rem;
}

.kamcamp-main-info {
  font-family: Glacial;
  font-size: 1.4rem;
  letter-spacing: 0.07rem;
}
.kamcamp-info > li {
  margin-bottom: 0.5rem;
}

.important-info {
  font-family: Glacial;
}

.events-header {
  letter-spacing: 0.5rem;
  font-size: 2.75rem;
  color: #00006b;
}

.events-main {
  margin-left: 5%;
  margin-top: 2.5rem;
}

.events-content {
  overflow: hidden;
}

.left-container {
  margin-left: 23%;
}

.kamcamp-subinfo {
  font-family: Glacial;
  font-size: 1.3rem;
  letter-spacing: 0.07rem;
  margin: 0rem;
  margin-bottom: 0.5rem;
}

.side-wave-bkgrnd {
  z-index: -100;
  position: absolute;
  top: 0;
}

.important-info {
  margin-top: 2rem;
}

.flier-container {
  width: 73%;
}
.sign-up-button {
  background-color: #bad190;
  color: #00006b;
  box-shadow: 10px 10px #679186;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 40px;
  text-align: center;
  border: none;
  padding: 1.2rem 2.5rem;
  margin-top: 1rem;
  z-index: 10000;
  position: relative;
}

.sign-up-button:hover {
  background-color: #c3e9f1;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .index-title {
    width: 50%;
    margin-left: 10%;
    text-align: center;
    line-height: 1rem;
    margin-top: 20rem;
    color: white;
  }

  .top-title {
    font-size: 3rem;
    text-shadow: -8px 0px #bad190;
  }
  .bottom-title {
    font-size: 2rem;
    text-shadow: -6px 0px #00006b;
  }

  .events-content > .left-content {
    width: 100%;
  }

  .flier-container {
    display: none;
  }

  .title-box {
    width: 90%;
  }

  .events-content {
    overflow-y: scroll;
  }

  .right-content > .sign-up-button {
    display: none;
  }

  .events-header {
    display: none;
  }

  .events-main > .kamcamp-info {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .index-title {
    width: 50%;
    margin-left: 10%;
    text-align: center;
    line-height: 1rem;
    margin-top: 20rem;
    color: white;
  }
  .events-content > .left-content {
    width: 100%;
  }
  .top-title {
    margin: 0 2rem 5.3rem 0;
    font-size: 8rem;
    text-shadow: -8px 0px #bad190;
  }

  .bottom-title {
    font-size: 5rem;
    text-shadow: -12px 0px #00006b;
  }

  .flier-container {
    display: none;
  }

  .sign-up-button {
    margin-left: 0rem;
  }

  .title-box {
    width: 90%;
  }

  .events-content {
    overflow-y: hidden;
  }

  .events-header {
    display: block;
  }
  .events-main > .kamcamp-info {
    display: block;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .index-title {
    width: 50%;
    margin-left: 10%;
    text-align: center;
    line-height: 1rem;
    margin-top: 20rem;
    color: white;
  }
  .events-content > .left-content {
    width: 100%;
  }

  .flier-container {
    display: inline-block;
  }

  .sign-up-button {
    margin-left: 0rem;
  }

  .right-content > .sign-up-button {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .index-title {
    width: 50%;
    margin-left: 19%;
    text-align: center;
    line-height: 1rem;
    margin-top: 20rem;
    color: white;
  }

  .bottom-title {
    font-size: 5rem;
  }

  .top-title {
    margin: 0 2rem 7rem 0;
    font-size: 12rem;
    text-shadow: -8px 0px #bad190;
  }

  .bottom-title {
    font-size: 8rem;
    margin: 0 2rem 5.3rem 0;
    text-shadow: -12px 0px #00006b;
  }

  .events-content > .left-content {
    width: 50%;
  }
  .flier-container {
    display: inline-block;
  }

  .title-box {
    width: 100%;
  }

  .sign-up-button {
    margin-left: 12rem;
  }

  .important-info > .sign-up-button {
    display: none;
  }

  .right-content > .sign-up-button {
    display: block;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .index-title {
    width: 50%;
    margin-left: 19%;
    text-align: center;
    line-height: 1rem;
    margin-top: 20rem;
    color: white;
  }
  .flier-container {
    display: inline-block;
  }

  .sign-up-button {
    margin-left: 12rem;
  }
}
