html,
body,
#___gatsby,
#gatsby-focus-wrapper,
.root,
.main-layout {
  height: 100%;
}

.left-content {
  width: 50%;
  float: left;
  height: 100%;
}

.right-content {
  margin-left: 50%;
  padding-top: 4.5rem;
  height: 100%;
}

.main-section {
  margin: 9rem 1.5rem;
  text-align: right;
  display: inline-block;
}

@font-face {
  font-family: Glacial;
  font-weight: bold;
  src: url('../../../src/content/fonts/GlacialIndifference-Bold.woff2') format('woff2'),
    url('../../../src/content/fonts/GlacialIndifference-Bold.woff') format('woff');
}

@font-face {
  font-family: Glacial;
  font-weight: normal;
  font-style: normal;
  src: url('../../../src/content/fonts/GlacialIndifference-Regular.woff2') format('woff2'),
    url('../../../src/content/fonts/GlacialIndifference-Regular.woff') format('woff');
}

p {
  font-family: Glacial;
}

.kamschool {
  font-weight: bold;
  color: #00006b;
}

.main-text {
  color: #f8faf3;
  display: inline-block;
  line-height: 1.5em;
}

.content {
  z-index: 1;
  position: absolute;
  top: 0;
  height: 100%;
}

.section-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.main-leaf {
  width: 10%;
  display: inline-block;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .index-title {
    width: 50%;
    margin-left: 10%;
    text-align: center;
    line-height: 1rem;
    margin-top: 20rem;
    color: white;
  }

  .top-title {
    font-size: 3rem;
    text-shadow: -8px 0px #bad190;
  }
  .bottom-title {
    font-size: 2rem;
    text-shadow: -6px 0px #00006b;
  }

  .main-section {
    margin: 10rem 1.5rem 0rem 1.5rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .index-title {
    width: 50%;
    margin-left: 10%;
    text-align: center;
    line-height: 1rem;
    margin-top: 20rem;
    color: white;
  }

  .top-title {
    margin: 0 2rem 5.3rem 0;
    font-size: 8rem;
    text-shadow: -8px 0px #bad190;
  }

  .bottom-title {
    font-size: 5rem;
    text-shadow: -12px 0px #00006b;
  }

  .main-text {
    font-size: 2.2rem;
  }

  .main-section {
    margin: 5rem 1.5rem 0rem 1.5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .index-title {
    width: 50%;
    margin-left: 10%;
    text-align: center;
    line-height: 1rem;
    margin-top: 20rem;
    color: white;
  }

  .main-text {
    font-size: 2.2rem;
  }

  .main-section {
    margin: 5rem 1.5rem 0rem 1.5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .index-title {
    width: 50%;
    margin-left: 19%;
    text-align: center;
    line-height: 1rem;
    margin-top: 20rem;
    color: white;
  }

  .bottom-title {
    font-size: 5rem;
  }

  .top-title {
    margin: 0 2rem 7rem 0;
    font-size: 12rem;
    text-shadow: -8px 0px #bad190;
  }

  .bottom-title {
    font-size: 8rem;
    margin: 0 2rem 5.3rem 0;
    text-shadow: -12px 0px #00006b;
  }

  .main-text {
    font-size: 2.45rem;
  }

  .main-section {
    margin: 9rem 1.5rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .index-title {
    width: 50%;
    margin-left: 19%;
    text-align: center;
    line-height: 1rem;
    margin-top: 20rem;
    color: white;
  }

  .main-text {
    font-size: 2.45rem;
  }

  .main-section {
    margin: 9rem 1.5rem;
  }
}
