.click-box {
  border-radius: 20px;
  text-align: center;
  font-size: 1.4rem;
  background-color: white;
}
.click-box-large {
  padding: 4rem 0rem 5rem 2rem;
}

.click-box-small {
  padding: 4rem 0rem 5rem 0rem;
}
.learning-content {
  margin-top: 4rem;
}

.boxes-row {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem 0;
}
.clickbox-text {
  display: inline-block;
}

.clickbox-text-large {
  margin-right: 1rem;
  font-size: 2.7rem;
  letter-spacing: 0.3rem;
}

.clickbox-text-small {
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  margin-top: 2.5rem;
}
.box {
  border: 16px solid;
  border-top: 10px solid;
  border-bottom: 13.5px solid;
}

.dark-blue-border {
  border-color: #00006b;
}

.light-blue-border {
  border-color: #c3e9f1;
}

.green-border {
  border-color: #bad190;
}

.grey-border {
  border-color: #c8c8c8;
}

.clickbox-leaf {
  width: 10%;
  display: inline-block;
}

.learning-header {
  display: inline-block;
  color: #00006b;
  letter-spacing: 0.4rem;
}

.learning-subheader {
  display: inline-block;
  margin-top: 2rem;
  color: #00006b;
}

.workshops-content {
  overflow: hidden;
}

.learning-text {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}

.hidden {
  opacity: 0.5;
  pointer-events: none;
}

.hidden:hover {
  cursor: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .learning-header {
    text-align: right;
  }

  .clickbox-text-large {
    margin-right: 0;
  }

  .boxes-row {
    width: 80%;
  }

  .clickbox-leaf {
    display: none;
  }

  .learning-text {
    flex-direction: column;
  }

  .click-box {
    width: 100%;
    margin-bottom: 1rem;
  }

  .boxes-row {
    flex-direction: column;
  }
  .workshops-content {
    overflow-y: scroll;
  }

  .row-two {
    margin-bottom: none;
  }

  .click-box-small {
    padding: 0;
  }

  .click-box-large {
    padding: 0;
  }

  .boxes-row {
    margin: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .boxes-row {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }

  .click-box {
    width: 100%;
    margin-bottom: 1rem;
  }

  .boxes-row {
    flex-direction: column;
  }
  .workshops-content {
    overflow-y: scroll;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .boxes-row {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }

  .click-width {
    width: 100%;
    margin-bottom: 1rem;
  }

  .boxes-row {
    flex-direction: column;
  }

  .workshops-content {
    overflow-y: scroll;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .click-width {
    width: 25%;
  }

  .boxes-row {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    flex-direction: row;
  }
  .workshops-content {
    overflow-y: hidden;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .click-width {
    width: 25%;
  }

  .boxes-row {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    flex-direction: row;
  }

  .workshops-content {
    overflow-y: hidden;
  }
}
