html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  position: relative;
}

/* Trick: */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 100;
}

.main-content {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.main-content-header {
  margin-bottom: 3rem;
}

.blue {
  color: #c4e8f7;
}

.blue-bkgnd {
  background-color: #c3e9f1;
  height: 100%;
  z-index: -100;
  position: relative;
}

.large-circle-bkgnd {
  height: 100%;
  z-index: -100;
  position: relative;
  top: 0;
}

.dark-blue-bkgnd {
  background-color: #00006b;
  height: 100%;
}

.bold {
  font-weight: bold;
}
.green {
  color: #b7cb70;
}

.green-bkgnd {
  background-color: #bad190;
  height: 100%;
}

.dark-blue {
  color: #00006b;
}

.lg-page-text {
  font-size: 1.5rem;
  padding: 0.3rem;
  margin-top: 1rem;
}

.center {
  text-align: center;
}

.general-button {
  color: whitesmoke;
  background-color: #b7cb70;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem 5rem;
  border: 1px solid #c4e8f7;
}
button:hover {
  cursor: pointer;
}
a:hover {
  cursor: pointer;
}
